:root {
	--phi: calc(sqrt(5) * 0.5 + 0.5);
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
}

form {
	display: flex;
	flex-direction: column;
	align-content: end;
}

div.home {
	display: flex;
	flex-direction: row;
	min-width: fit-content;
	min-height: fit-content;
}
div.home div.home-left {
	display: flex;
	flex-direction: column;
	max-width: 40vw;
	/*min-width: fit-content;*/
}
div.home div.home-right {
	display: flex;
	flex-direction: column;
}
div.home div.home-right div.grid {
	display: grid;
}

input:invalid + span::after {
	content: "✖";
	padding-left: 0.25rem;
}

input:valid + span::after {
	content: "✓";
	padding-left: 0.25rem;
}
